################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GeneralStore/GeneralStore/obj/Debug/netcoreapp3.1
/GeneralStore/.vs/GeneralStore/v16
/GeneralStore/GeneralStore/obj
